body{
    text-decoration-color: antiquewhite;
}
.aldeanos {
    text-decoration-color: antiquewhite; 
    justify-content: center;
}

.titulo {
    text-decoration: underline;
    justify-items: center;
}

.contenedor {
    text-decoration-color: antiquewhite; 
    width: 400px;
    margin: 0 auto;
}

.logo_aldeanos {
    justify-items: center;
    padding-top: 5px;
    width: 80px;
    height: 80px;
}