.contenedor {
    width: 1000px;
    margin: 0 auto;

}

.titulo {
    text-decoration: underline;
    justify-items: center;
}

.food {
    justify-items: center;
}

.logo_comida {
    padding-left: 10px;
    padding-top: 5px;
    width: 80px;
    height: 80px;
}