.header1 {
    display: flex;
    justify-content: space-between;
    width: 1500px;
    padding-top: 10px;
    padding-left: 15px;
}

.tabla_lim {
    display: flex;
    justify-content: center;
}

.barra {
    display: flex;
    justify-content: center;
    text-align: center;
    max-width: 1500px;
    text-decoration-color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: rgba(224, 210, 210, 0.856);
    border-spacing: 160px 0;
    padding: 10px;
    border-radius: 100px;
}

.video {
    padding-left: 50px;
    padding-top: 150px;
}

a:hover {
    color: red;
}