a:hover {
  color: red;
}

.wikicraft {
  justify-items: center;
  padding-top: 300px;
}

.wiki {
  justify-items: center;
  padding-top: 10px;
}

.tabla_wiki {
  background-color: rgba(0, 0, 0, 0.737);
  border-radius: 30px;
  border-spacing: 25px;

}

.logo_wikii {
  padding-left: 10px;
  padding-top: 5px;
  width: 80px;
  height: 80px;
}