a:hover {
  color: red;
}
.wiki {
  padding-left: 800px;
  padding-top: 10px;
}
.wikicraft {
  padding-left: 800px;
  padding-top: 400px;
}
.tabla_wiki {
    background-color: rgba(0, 0, 0, 0.737);
    border-radius: 30px;
    border-spacing: 30px;

}